<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src = '../resources/img/helmet.jpg';
				  if(p_data){
				  	image_src = p_data.img_src;
				  }
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
							 <%
								if(data)
								{
									var players = '';
									data.forEach(function(item)
									{
										players += '<option value = ' + item.id + '>' + item.name + '</option>';
									}
									);
							%>
							<%- players %>
							<%}%>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
						<th>Year</th>
						<td> 
							<%
								if(p_data)
								{
							%>
							<%- p_data.year %> 
							<%}%>
						</td>
						</tr>
						<tr>
							<th>Major</th>
						<td> 
							<%
								if(p_data)
								{
							%>
							<%- p_data.major %> 
							<%}%>
						</td>
						</tr>
						<tr>
							<th>Games Played</th>
						<td>
							<%
								if(p_data)
								{
							%>
							<%- data_games %> 
							<%}%>	
						</td>
						</tr>
						<tr>
							<td>Passing Yards: 
							<%
								if(p_data)
								{
							%>
							<%- p_data.passing_yards %> 
							<%}%>
							</td>
							<td>Avg. Passing Yards: 
							<%
								if(p_data)
								{
							%>
							<%- p_data.passing_yards/data_games %> 
							<%}%>
							</td>
						</tr>
						<tr>
							<td>Rushing Yards:
							<%
								if(p_data)
								{
							%>
							<%- p_data.rushing_yards %> 
							<%}%>
							</td>
							<td>Avg. Rushing Yards:
							<%
								if(p_data)
								{
							%>
							<%- p_data.rushing_yards/data_games %> 
							<%}%>
						 	</td>
						</tr>
						<tr>
							<td>Receiving Yards:
							<%
								if(p_data)
								{
							%>
							<%- p_data.receiving_yards %> 
							<%}%>
							</td>
							<td>Avg. Receiving Yards: 
							<%
								if(p_data)
							{
							%>
							<%- p_data.receiving_yards/data_games %> 
							<%}%>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>